@use '../../style/mixin.scss';

$mainColor: #11999e;

.page {
  &__title {
    font-size: 18px;
    color: $mainColor;
    border-bottom: 1px solid $mainColor;
    padding: 5px;
  }

  &__content {
    padding: 5px;
  }
}

.page--list {
  .row-summary {
    background-color: rgba($color: lighten($mainColor, 20%), $alpha: .1);
  }

  .row-incomes {
    .col-amount {
      color: darken(red, 5%)
    }
  }

  .row-outgoings {
    .col-amount {
      color: darken(green, 5%)
    }
  }
}