@use '../../style/mixin.scss';

$mainColor: #11999e;

.page {
  &__title {
    font-size: 22px;
    color: $mainColor;
    border-bottom: 1px solid $mainColor;
    padding: 5px;
  }

  &__content {
    padding: 5px;
  }

  &__btn-wrap {
    padding: 5px;
  }
}

.tb {
  &-top {
    position: relative;

    &__extra {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}

.summary-title {
  text-align: right;
}

.page--list {
  .row-summary {
    background-color: rgba($color: lighten($mainColor, 20%), $alpha: .1);
  }

  .row-incomes {
    .col-amount {
      color: darken(red, 5%)
    }
  }

  .row-outgoings {
    .col-amount {
      color: darken(green, 5%)
    }
  }
}


@media screen and (max-width: 660px) {
  .tb-top{
    &__extra{
      position: static;
    }
  }
}